{% extends '@App/layout.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
    <div class="alert alert-danger">404 Not Found</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
