{% extends '@App/layout.html.twig' %}

{% block title %}Internal error{% endblock %}

{% block body %}
    <div class="alert alert-danger"> Something went wrong :( </div>

{% endblock %}b

{% block stylesheets %}

{% endblock %}
