{% extends '@App/layout.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Category list</h1>

    {% for category in categories %}
        <a href="#">Category {{ category.id }}: {{ category.name }}</a><br>
    {% endfor %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
